*{
    margin: 0px;
    padding: 0px;
}
img{
    width:100%;
    height:50%;
    border-radius: 10px;
}
#main{
    width:100vw;
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:10px;
    border-radius: 5px;
}
@media screen and (max-width:1500px){
    #main{
        grid-template-columns:repeat(4,1fr);
    }
    img{
        border-radius: 10px;
    }
}
@media screen and (max-width:1200px){
    #main{
        grid-template-columns:repeat(3,1fr);
        border-radius: 5px;
    }
    img{
        border-radius: 10px;
    }
}
@media screen and (max-width:900px){
    #main{
        grid-template-columns:repeat(2,1fr);
        border-radius: 5px;
    }
    img{
        border-radius: 10px;
    }
}
@media screen and (max-width:600px){
    #main{
        grid-template-columns:repeat(1,1fr);
        border-radius: 5px;
    }
    img{
        border-radius: 10px;
    }
}